[Unit]
Description=Proton Mail Bridge
After=network.target

[Service]
Type=simple
StandardOutput=journal
ExecStart=/usr/bin/flatpak run ch.protonmail.protonmail-bridge --noninteractive
ExecStop=/usr/bin/flatpak kill ch.protonmail.protonmail-bridge

[Install]
WantedBy=default.target
